.bg-fon {
    background-color:rgba(3,3,3,.3);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
}

.a {
    font-family: "Sofia", sans-serif;
    font-size:40px;
    font-weight: bold;
    color: rgb(250, 250, 250);
    text-decoration: none !important;

}

.a1{
    font-family: "Sofia", sans-serif;
    font-size:20px;
    font-weight: bold;
    color: white;
   
}



.font-button{
    background-color: #7FCBEB;
    border-radius: 35%;
    width: 200px;
    height: 80px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;

}

.buttons-pading{
    padding-top: 70px;
    padding-bottom: 50px;

}

.div1{    
    width: 45%;
    min-height: 150px;
    background: #ffffff;
    float: left;
    padding-left: 40px;
    padding-top: 20px;
  
    
}
.div11{
    position: relative;
    width: 40%;
}
.div2{    
    width: 45%;
    min-height: 150px;
    position: relative;
    margin-left: 50%;
}
.text-padding{
    margin: 0;
    font-size: large;
    font-family: "Sofia", sans-serif;
    font-size: 24px;
}

.photo{
    
    padding-top: 80px;
    right: 0;
    max-height: 70%;
    max-width: 70%;
    display: block;
    margin: auto;
}
.filter{
    padding-top: 5px;
}











footer {
	background-color: #7FCBEB;
	text-align: center;
   min-height:17em;
   color: white;
}

footer  a {
	display: inline-block;
	margin: 0;
  text-decoration:underline;
}
footer div.col {
  width:20%;
  display:inline-block;
  vertical-align: top;
}
footer col a {
  display:block;
}

footer ul li a:hover {
	color: #fd5559;
}
footer ul li a {
    color: white;  
}
footer div#copy {
  margin-top: 1em;
  padding:0;
}
footer div#copy a {
  color: #fd5559;  
}
footer div.container {
  position:relative;
  
}
footer ul{
  list-style:none;
  margin-top:2em;
  padding:0;
}
footer ul li {
  
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}






















